*
  font-family: Roboto;
  font-weight: 400;
h1
  font-weight: 100;
body
  background-color: #eee;
  padding 0
  margin 0
h1
  small
    font-weight: 500;
h2, h3
  font-family: Roboto;
  font-weight: 300;

header.main
  width 100%
  min-height 10vh
  padding-top: 3em
  background-color #ccc
  border-bottom: 1px solid #333;
  h1
    padding-top .5em
    margin-top 0

#main
  padding 0
  section
    padding-top: 1em;
    background-color: #fff
    &:first-child
      min-height 85vh;
#main&section
  border-left: 1px solid #ccc
  border-right: 1px solid #ccc


div.main
  width 100%
  position: fixed
  top: 0
  left: 0

footer.main
  width 100%
  min-height 5%vh
  padding 1em 0
  color: #eee
  background-color #333
  font-family: Lato;
  border-top: 1px solid #ccc;
  p
    font-weight 100
    text-align: center
    padding 0
    margin 0

.sidebar
  padding 0;
  margin-left: 1em
  margin-right: -1em
  .panel 
    margin-right 1em

$grey = lighten(black, 25%);

.index, .list
  padding: 0

.list
  margin-left: -1em
  margin-right: -1em
